@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700italic,600,700,600italic);

$xx-large: 2.2em;
$x-large: 2em;
$large: 1.8em;
$medium: 1.6em;
$small: 1.4em;
$x-small: 1.2em;
$xx-small: 1em;

* {
  font-family: "Inconsolata", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: $xx-large;
  line-height: $xx-large;
  font-weight: 600;
}

h2 {
  font-size: $x-large;
}

h3 {
  font-size: $large;
  line-height: $large;
  font-weight: 600;
}

h4 {
  font-size: $medium;
}

h5 {
  font-size: $small;
}

h6 {
  font-size: $x-small;
}

p {
  font-size: $small;
  line-height: $small;
}

blockquote {
  font-size: $medium;
  line-height: $medium;
}

pre {
  font-size: $x-small;
  line-height: $x-small;
}

label {
  font-size: $xx-small;
}