/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*
*     <!-- Don't forget the viewport meta tag for responsive sites! -->
*    <meta name="viewport" content="width=device-width, initial-scale=1.0">
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  @include transition (all 400ms ease-in-out);
}

/* Clearfix */
.block-group {
  *zoom: 1;
}

.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}

.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.block-group {
  position: relative;
}

/* Gutters */
.block {
  padding: 4px;
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
}

/* Default block */
.block, .block-group {
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.block {
  float: left;
}

.wrap-content {
  max-width: none;
  width: auto;
  max-height: none;
  height: auto;
}

.wrap-width {
  max-width: none;
  width: auto;
}

.wrap-height {
  max-height: none;
  height: auto;
}

$sizes: (
        "default": "",
        "large": "-large",
        "medium":"-medium",
        "small":"-small"
);

@each $size, $suffix in $sizes {
  @include grid-sizes($size, $suffix);
}

@each $size, $suffix in $sizes {
  @include grid-sizes($size, $suffix, true);
}

.center {
  margin: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}
