@charset "UTF-8";

/* @FONT-FACE loads font into browser */
@font-face {
  @include font-face($icons-font-name, $fonts-path + $icons-file-name + '.eot', $fonts-path + $icons-file-name +'.woff', $fonts-path + $icons-file-name +'.ttf', $fonts-path + $icons-file-name +'.svg', '#'+$icons-file-name);
  font-weight: normal;
  font-style: normal;
}

i {
  &:before {
    font-family: $icons-font-name;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    height: 1em;
    font-size: 1em;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

$icons: (
        "adjust-brightness":'\e000',
        "adjust-contrast":'\e001',
        "anchor-outline":'\e002',
        "anchor":'\e003',
        "archive":'\e004',
        "arrow-back-outline":'\e005',
        "arrow-back": '\e006',
        "arrow-down-outline": '\e007',
        "arrow-down-thick": '\e008',
        "arrow-down": '\e009',
        "arrow-forward-outline": '\e00a',
        "arrow-forward": '\e00b',
        "arrow-left-outline": '\e00c',
        "arrow-left-thick":'\e00d',
        "arrow-left":'\e00e',
        "arrow-loop-outline":'\e00f',
        "arrow-loop":'\e010',
        "arrow-maximise-outline":'\e011',
        "arrow-maximise":'\e012',
        "arrow-minimise-outline":'\e013',
        "arrow-minimise":'\e014',
        "arrow-move-outline":'\e015',
        "arrow-move":'\e016',
        "arrow-repeat-outline":'\e017',
        "arrow-repeat":'\e018',
        "arrow-right-outline":'\e019',
        "arrow-right-thick":'\e01a',
        "arrow-right":'\e01b',
        "arrow-shuffle":'\e01c',
        "arrow-sorted-down":'\e01d',
        "arrow-sorted-up":'\e01e',
        "arrow-sync-outline":'\e01f',
        "arrow-sync":'\e020',
        "arrow-unsorted":'\e021',
        "arrow-up-outline":'\e022',
        "arrow-up-thick":'\e023',
        "arrow-up":'\e024',
        "at":'\e025',
        "attachment-outline":'\e026',
        "attachment":'\e027',
        "backspace-outline":'\e028',
        "backspace":'\e029',
        "battery-charge":'\e02a',
        "battery-full":'\e02b',
        "battery-high":'\e02c',
        "battery-low":'\e02d',
        "battery-mid":'\e02e',
        "beaker":'\e02f',
        "beer":'\e030',
        "bell":'\e031',
        "book":'\e032',
        "bookmark":'\e033',
        "briefcase":'\e034',
        "brush":'\e035',
        "business-card":'\e036',
        "calculator":'\e037',
        "calendar-outline":'\e038',
        "calendar":'\e039',
        "camera-outline":'\e03a',
        "camera":'\e03b',
        "cancel-outline":'\e03c',
        "cancel":'\e03d',
        "chart-area-outline":'\e03e',
        "chart-area":'\e03f',
        "chart-bar-outline":'\e040',
        "chart-bar":'\e041',
        "chart-line-outline":'\e042',
        "chart-line":'\e043',
        "chart-pie-outline":'\e044',
        "chart-pie":'\e045',
        "chevron-left-outline":'\e046',
        "chevron-left":'\e047',
        "chevron-right-outline":'\e048',
        "chevron-right":'\e049',
        "clipboard":'\e04a',
        "cloud-storage":'\e04b',
        "cloud-storage-outline":'\e054',
        "code-outline":'\e04c',
        "code":'\e04d',
        "coffee":'\e04e',
        "cog-outline":'\e04f',
        "cog":'\e050',
        "compass":'\e051',
        "contacts":'\e052',
        "credit-card":'\e053',
        "css3":'\e055',
        "database":'\e056',
        "delete-outline":'\e057',
        "delete":'\e058',
        "device-desktop":'\e059',
        "device-laptop":'\e05a',
        "device-phone":'\e05b',
        "device-tablet":'\e05c',
        "directions":'\e05d',
        "divide-outline":'\e05e',
        "divide":'\e05f',
        "document-add":'\e060',
        "document-delete":'\e061',
        "document-text":'\e062',
        "document":'\e063',
        "download-outline":'\e064',
        "download":'\e065',
        "dropbox":'\e066',
        "edit":'\e067',
        "eject-outline":'\e068',
        "eject":'\e069',
        "equals-outline":'\e06a',
        "equals":'\e06b',
        "export-outline":'\e06c',
        "export":'\e06d',
        "eye-outline":'\e06e',
        "eye":'\e06f',
        "feather":'\e070',
        "film":'\e071',
        "filter":'\e072',
        "flag-outline":'\e073',
        "flag":'\e074',
        "flash-outline":'\e075',
        "flash":'\e076',
        "flow-children":'\e077',
        "flow-merge":'\e078',
        "flow-parallel":'\e079',
        "flow-switch":'\e07a',
        "folder-add":'\e07b',
        "folder-delete":'\e07c',
        "folder-open":'\e07d',
        "folder":'\e07e',
        "gift":'\e07f',
        "globe-outline":'\e080',
        "globe":'\e081',
        "group-outline":'\e082',
        "group":'\e083',
        "headphones":'\e084',
        "heart-full-outline":'\e085',
        "heart-half-outline":'\e086',
        "heart-outline":'\e087',
        "heart":'\e088',
        "home-outline":'\e089',
        "home":'\e08a',
        "html5":'\e08b',
        "image-outline":'\e08c',
        "image":'\e08d',
        "infinity-outline":'\e08e',
        "infinity":'\e08f',
        "info-large-outline":'\e090',
        "info-large":'\e091',
        "info-outline":'\e092',
        "info":'\e093',
        "input-checked-outline":'\e094',
        "input-checked":'\e095',
        "key-outline":'\e096',
        "key":'\e097',
        "keyboard":'\e098',
        "leaf":'\e099',
        "lightbulb":'\e09a',
        "link-outline":'\e09b',
        "link":'\e09c',
        "location-arrow-outline":'\e09d',
        "location-arrow":'\e09e',
        "location-outline":'\e09f',
        "location":'\e0a0',
);

.typcn-lock-closed-outline:before {
  content: '\e0a1'; /* '' */
}

.typcn-lock-closed:before {
  content: '\e0a2'; /* '' */
}

.typcn-lock-open-outline:before {
  content: '\e0a3'; /* '' */
}

.typcn-lock-open:before {
  content: '\e0a4'; /* '' */
}

.typcn-mail:before {
  content: '\e0a5'; /* '' */
}

.typcn-map:before {
  content: '\e0a6'; /* '' */
}

.typcn-media-eject-outline:before {
  content: '\e0a7'; /* '' */
}

.typcn-media-eject:before {
  content: '\e0a8'; /* '' */
}

.typcn-media-fast-forward-outline:before {
  content: '\e0a9'; /* '' */
}

.typcn-media-fast-forward:before {
  content: '\e0aa'; /* '' */
}

.typcn-media-pause-outline:before {
  content: '\e0ab'; /* '' */
}

.typcn-media-pause:before {
  content: '\e0ac'; /* '' */
}

.typcn-media-play-outline:before {
  content: '\e0ad'; /* '' */
}

.typcn-media-play-reverse-outline:before {
  content: '\e0ae'; /* '' */
}

.typcn-media-play-reverse:before {
  content: '\e0af'; /* '' */
}

.typcn-media-play:before {
  content: '\e0b0'; /* '' */
}

.typcn-media-record-outline:before {
  content: '\e0b1'; /* '' */
}

.typcn-media-record:before {
  content: '\e0b2'; /* '' */
}

.typcn-media-rewind-outline:before {
  content: '\e0b3'; /* '' */
}

.typcn-media-rewind:before {
  content: '\e0b4'; /* '' */
}

.typcn-media-stop-outline:before {
  content: '\e0b5'; /* '' */
}

.typcn-media-stop:before {
  content: '\e0b6'; /* '' */
}

.typcn-message-typing:before {
  content: '\e0b7'; /* '' */
}

.typcn-message:before {
  content: '\e0b8'; /* '' */
}

.typcn-messages:before {
  content: '\e0b9'; /* '' */
}

.typcn-microphone-outline:before {
  content: '\e0ba'; /* '' */
}

.typcn-microphone:before {
  content: '\e0bb'; /* '' */
}

.typcn-minus-outline:before {
  content: '\e0bc'; /* '' */
}

.typcn-minus:before {
  content: '\e0bd'; /* '' */
}

.typcn-mortar-board:before {
  content: '\e0be'; /* '' */
}

.typcn-news:before {
  content: '\e0bf'; /* '' */
}

.typcn-notes-outline:before {
  content: '\e0c0'; /* '' */
}

.typcn-notes:before {
  content: '\e0c1'; /* '' */
}

.typcn-pen:before {
  content: '\e0c2'; /* '' */
}

.typcn-pencil:before {
  content: '\e0c3'; /* '' */
}

.typcn-phone-outline:before {
  content: '\e0c4'; /* '' */
}

.typcn-phone:before {
  content: '\e0c5'; /* '' */
}

.typcn-pi-outline:before {
  content: '\e0c6'; /* '' */
}

.typcn-pi:before {
  content: '\e0c7'; /* '' */
}

.typcn-pin-outline:before {
  content: '\e0c8'; /* '' */
}

.typcn-pin:before {
  content: '\e0c9'; /* '' */
}

.typcn-pipette:before {
  content: '\e0ca'; /* '' */
}

.typcn-plane-outline:before {
  content: '\e0cb'; /* '' */
}

.typcn-plane:before {
  content: '\e0cc'; /* '' */
}

.typcn-plug:before {
  content: '\e0cd'; /* '' */
}

.typcn-plus-outline:before {
  content: '\e0ce'; /* '' */
}

.typcn-plus:before {
  content: '\e0cf'; /* '' */
}

.typcn-point-of-interest-outline:before {
  content: '\e0d0'; /* '' */
}

.typcn-point-of-interest:before {
  content: '\e0d1'; /* '' */
}

.typcn-power-outline:before {
  content: '\e0d2'; /* '' */
}

.typcn-power:before {
  content: '\e0d3'; /* '' */
}

.typcn-printer:before {
  content: '\e0d4'; /* '' */
}

.typcn-puzzle-outline:before {
  content: '\e0d5'; /* '' */
}

.typcn-puzzle:before {
  content: '\e0d6'; /* '' */
}

.typcn-radar-outline:before {
  content: '\e0d7'; /* '' */
}

.typcn-radar:before {
  content: '\e0d8'; /* '' */
}

.typcn-refresh-outline:before {
  content: '\e0d9'; /* '' */
}

.typcn-refresh:before {
  content: '\e0da'; /* '' */
}

.typcn-rss-outline:before {
  content: '\e0db'; /* '' */
}

.typcn-rss:before {
  content: '\e0dc'; /* '' */
}

.typcn-scissors-outline:before {
  content: '\e0dd'; /* '' */
}

.typcn-scissors:before {
  content: '\e0de'; /* '' */
}

.typcn-shopping-bag:before {
  content: '\e0df'; /* '' */
}

.typcn-shopping-cart:before {
  content: '\e0e0'; /* '' */
}

.typcn-social-at-circular:before {
  content: '\e0e1'; /* '' */
}

.typcn-social-dribbble-circular:before {
  content: '\e0e2'; /* '' */
}

.typcn-social-dribbble:before {
  content: '\e0e3'; /* '' */
}

.typcn-social-facebook-circular:before {
  content: '\e0e4'; /* '' */
}

.typcn-social-facebook:before {
  content: '\e0e5'; /* '' */
}

.typcn-social-flickr-circular:before {
  content: '\e0e6'; /* '' */
}

.typcn-social-flickr:before {
  content: '\e0e7'; /* '' */
}

.typcn-social-github-circular:before {
  content: '\e0e8'; /* '' */
}

.typcn-social-github:before {
  content: '\e0e9'; /* '' */
}

.typcn-social-google-plus-circular:before {
  content: '\e0ea'; /* '' */
}

.typcn-social-google-plus:before {
  content: '\e0eb'; /* '' */
}

.typcn-social-instagram-circular:before {
  content: '\e0ec'; /* '' */
}

.typcn-social-instagram:before {
  content: '\e0ed'; /* '' */
}

.typcn-social-last-fm-circular:before {
  content: '\e0ee'; /* '' */
}

.typcn-social-last-fm:before {
  content: '\e0ef'; /* '' */
}

.typcn-social-linkedin-circular:before {
  content: '\e0f0'; /* '' */
}

.typcn-social-linkedin:before {
  content: '\e0f1'; /* '' */
}

.typcn-social-pinterest-circular:before {
  content: '\e0f2'; /* '' */
}

.typcn-social-pinterest:before {
  content: '\e0f3'; /* '' */
}

.typcn-social-skype-outline:before {
  content: '\e0f4'; /* '' */
}

.typcn-social-skype:before {
  content: '\e0f5'; /* '' */
}

.typcn-social-tumbler-circular:before {
  content: '\e0f6'; /* '' */
}

.typcn-social-tumbler:before {
  content: '\e0f7'; /* '' */
}

.typcn-social-twitter-circular:before {
  content: '\e0f8'; /* '' */
}

.typcn-social-twitter:before {
  content: '\e0f9'; /* '' */
}

.typcn-social-vimeo-circular:before {
  content: '\e0fa'; /* '' */
}

.typcn-social-vimeo:before {
  content: '\e0fb'; /* '' */
}

.typcn-social-youtube-circular:before {
  content: '\e0fc'; /* '' */
}

.typcn-social-youtube:before {
  content: '\e0fd'; /* '' */
}

.typcn-sort-alphabetically-outline:before {
  content: '\e0fe'; /* '' */
}

.typcn-sort-alphabetically:before {
  content: '\e0ff'; /* '' */
}

.typcn-sort-numerically-outline:before {
  content: '\e100'; /* '' */
}

.typcn-sort-numerically:before {
  content: '\e101'; /* '' */
}

.typcn-spanner-outline:before {
  content: '\e102'; /* '' */
}

.typcn-spanner:before {
  content: '\e103'; /* '' */
}

.typcn-spiral:before {
  content: '\e104'; /* '' */
}

.typcn-star-full-outline:before {
  content: '\e105'; /* '' */
}

.typcn-star-half-outline:before {
  content: '\e106'; /* '' */
}

.typcn-star-half:before {
  content: '\e107'; /* '' */
}

.typcn-star-outline:before {
  content: '\e108'; /* '' */
}

.typcn-star:before {
  content: '\e109'; /* '' */
}

.typcn-starburst-outline:before {
  content: '\e10a'; /* '' */
}

.typcn-starburst:before {
  content: '\e10b'; /* '' */
}

.typcn-stopwatch:before {
  content: '\e10c'; /* '' */
}

.typcn-support:before {
  content: '\e10d'; /* '' */
}

.typcn-tabs-outline:before {
  content: '\e10e'; /* '' */
}

.typcn-tag:before {
  content: '\e10f'; /* '' */
}

.typcn-tags:before {
  content: '\e110'; /* '' */
}

.typcn-th-large-outline:before {
  content: '\e111'; /* '' */
}

.typcn-th-large:before {
  content: '\e112'; /* '' */
}

.typcn-th-list-outline:before {
  content: '\e113'; /* '' */
}

.typcn-th-list:before {
  content: '\e114'; /* '' */
}

.typcn-th-menu-outline:before {
  content: '\e115'; /* '' */
}

.typcn-th-menu:before {
  content: '\e116'; /* '' */
}

.typcn-th-small-outline:before {
  content: '\e117'; /* '' */
}

.typcn-th-small:before {
  content: '\e118'; /* '' */
}

.typcn-thermometer:before {
  content: '\e119'; /* '' */
}

.typcn-thumbs-down:before {
  content: '\e11a'; /* '' */
}

.typcn-thumbs-ok:before {
  content: '\e11b'; /* '' */
}

.typcn-thumbs-up:before {
  content: '\e11c'; /* '' */
}

.typcn-tick-outline:before {
  content: '\e11d'; /* '' */
}

.typcn-tick:before {
  content: '\e11e'; /* '' */
}

.typcn-ticket:before {
  content: '\e11f'; /* '' */
}

.typcn-time:before {
  content: '\e120'; /* '' */
}

.typcn-times-outline:before {
  content: '\e121'; /* '' */
}

.typcn-times:before {
  content: '\e122'; /* '' */
}

.typcn-trash:before {
  content: '\e123'; /* '' */
}

.typcn-tree:before {
  content: '\e124'; /* '' */
}

.typcn-upload-outline:before {
  content: '\e125'; /* '' */
}

.typcn-upload:before {
  content: '\e126'; /* '' */
}

.typcn-user-add-outline:before {
  content: '\e127'; /* '' */
}

.typcn-user-add:before {
  content: '\e128'; /* '' */
}

.typcn-user-delete-outline:before {
  content: '\e129'; /* '' */
}

.typcn-user-delete:before {
  content: '\e12a'; /* '' */
}

.typcn-user-outline:before {
  content: '\e12b'; /* '' */
}

.typcn-user:before {
  content: '\e12c'; /* '' */
}

.typcn-vendor-android:before {
  content: '\e12d'; /* '' */
}

.typcn-vendor-apple:before {
  content: '\e12e'; /* '' */
}

.typcn-vendor-microsoft:before {
  content: '\e12f'; /* '' */
}

.typcn-video-outline:before {
  content: '\e130'; /* '' */
}

.typcn-video:before {
  content: '\e131'; /* '' */
}

.typcn-volume-down:before {
  content: '\e132'; /* '' */
}

.typcn-volume-mute:before {
  content: '\e133'; /* '' */
}

.typcn-volume-up:before {
  content: '\e134'; /* '' */
}

.typcn-volume:before {
  content: '\e135'; /* '' */
}

.typcn-warning-outline:before {
  content: '\e136'; /* '' */
}

.typcn-warning:before {
  content: '\e137'; /* '' */
}

.typcn-watch:before {
  content: '\e138'; /* '' */
}

.typcn-waves-outline:before {
  content: '\e139'; /* '' */
}

.typcn-waves:before {
  content: '\e13a'; /* '' */
}

.typcn-weather-cloudy:before {
  content: '\e13b'; /* '' */
}

.typcn-weather-downpour:before {
  content: '\e13c'; /* '' */
}

.typcn-weather-night:before {
  content: '\e13d'; /* '' */
}

.typcn-weather-partly-sunny:before {
  content: '\e13e'; /* '' */
}

.typcn-weather-shower:before {
  content: '\e13f'; /* '' */
}

.typcn-weather-snow:before {
  content: '\e140'; /* '' */
}

.typcn-weather-stormy:before {
  content: '\e141'; /* '' */
}

.typcn-weather-sunny:before {
  content: '\e142'; /* '' */
}

.typcn-weather-windy-cloudy:before {
  content: '\e143'; /* '' */
}

.typcn-weather-windy:before {
  content: '\e144'; /* '' */
}

.typcn-wi-fi-outline:before {
  content: '\e145'; /* '' */
}

.typcn-wi-fi:before {
  content: '\e146'; /* '' */
}

.typcn-wine:before {
  content: '\e147'; /* '' */
}

.typcn-world-outline:before {
  content: '\e148'; /* '' */
}

.typcn-world:before {
  content: '\e149'; /* '' */
}

.typcn-zoom-in-outline:before {
  content: '\e14a'; /* '' */
}

.typcn-zoom-in:before {
  content: '\e14b'; /* '' */
}

.typcn-zoom-out-outline:before {
  content: '\e14c'; /* '' */
}

.typcn-zoom-out:before {
  content: '\e14d'; /* '' */
}

.typcn-zoom-outline:before {
  content: '\e14e'; /* '' */
}

.typcn-zoom:before {
  content: '\e14f'; /* '' */
}

@each $class, $value in $icons {
  i.#{$class}:before {
    content: $value; /* '' */
  }
}