// Images
$images-path: '../images/' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

// Fonts
$fonts-path: '../fonts/' !default;
$icons-font-name: 'typicons';
$icons-file-name: 'typicons';

// Grid
$grid-matrix-size-base: 12 !default;
$grid-matrix-size-wide: 24 !default;